.footer {
  background: linear-gradient(to right, #00093c, #191919);
  background-color: transparent;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 30px 60px;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  flex-wrap: wrap;
}

.footer_first {
  width: 35%;
  text-align: left;
  padding: 20px 40px;
}
.footer_sambhav {
  margin: 20px 0;
  font-family: goodtimingbd;
  font-size: 2rem;
  margin-left: 10px;
}
.footer_sambhav_description {
  margin: 10px 0;
  width: 80%;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
}
.footer_second {
  width: 50%;
}

.footer_page_link {
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 1rem;
  text-transform: uppercase;
}
.footer_page_link:hover {
  color: grey;
}

.footer_menu_heading {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-family: goodtimingbd;
  color: #ff5bc8;
}

.footer_third {
  width: 29%;
  text-align: left;
}
.footer_creator_div {
  text-align: center;
  color: white;
}
.footer_a_link {
  color: #ff5bc8;
  text-decoration: none;
  cursor: pointer;
}
.footer_creator {
  padding: 10px 0;
  font-size: 20px;
}
.footer_contact {
  display: flex;
  margin-bottom: 10px;
  margin: 20px 0;
  align-items: center;
  font-size: 16px;
}

.footer_contact_image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  /* margin:10px; */
}

.footer_social_item {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.footer_social_link {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.footer_sambhav_image_div {
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer_sambhav_image {
  height: 40px;
}

.contact_no{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }
  .footer_first {
    width: 100%;
    padding: 0px;
    text-align: center;
    margin-bottom: 40px;
  }
  .footer_sambhav_description {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  .footer_second {
    width: 80%;
    margin: 20px 0px;
    text-align: center;
  }
  .footer_third {
    width: 80%;
  }
  .footer_menu_heading {
    text-align: center;
    white-space: nowrap;
  }
  .footer_social_item {
    justify-content: center;
  }
  .footer_creator_div {
    padding: 10px 20px;
  }
  .footer_sambhav_image_div {
    flex-direction: column;
  }
  .footer_creator {
    font-weight: 400;
    font-size: 14px;
  }

  .mail {
    font-size: 12px;
  }
}



.persons {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.personBox {
  background: linear-gradient(
    180deg,
    #09b35c 0%,
    rgba(50, 180, 237, 0.63) 100%
  );
  color: #fff;
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 8px;
}

.personBox:not(:last-child) {
  margin-bottom: 2rem;
}

.personHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  align-items: center;
}

.details > p {
  font-size: 1.5rem;
  margin: 0;
  min-width: 200px;
}

.details > a {
  margin-right: 2rem;
}

.anchor {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  white-space: nowrap;
}

@media screen and (max-width: 1670px) {
  .details {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
  }

  .details > p {
    min-width: auto;
  }

  .details > a {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .persons {
    align-items: center;
  }
  
  .personBox {
    padding: 1rem 1.2rem;
  }

  .personHeading {
    font-size: 1.7rem;
    margin-bottom: 0.6rem;
  }

  .details > p {
    font-size: 1.5rem;
  }

  .anchor {
    font-size: 1.5rem;
  }

  .details {
    gap: 0.2rem;
  }
}
